<div ng-controller="homepageController">
    <!-- Menü -->
    <div class="row top-buffer-small">
        <div class="col-md-10">
            <ul class="nav nav-pills pull-left">
                <li role="presentation" ng-class="{ active: isActive('/')}">
                    <a ui-sref="Homepage({categoryIndex : ''})" style="color:black;">Son güncellenen listeler</a>
                </li>
                <li role="presentation" ng-repeat="category in categories" ng-class="{ active: isActive('/' + $index)}">
                    <a ui-sref="Homepage({categoryIndex : $index})" style="color:black;">{{category.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <a ng-if="!user.isLoggedIn" href="/auth/facebook" class="btn btn-primary">
                    <span><span class="fa fa-facebook"></span>Facebook ile giriş</span>
                </a>
                <button ng-if="user.isLoggedIn" ui-sref="Dashboard.Profile" class="btn btn-primary">
                    <span>{{user.name}}</span>
                </button>
                <button ng-if="user.isLoggedIn" class="btn btn-danger" ng-click="logout()">Çıkış</button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Listeler -->
    <div class="row">
        <div class="col-md-3" ng-repeat="list in lists">
            <ul class="list-group">
                <li class="list-group-item active">
                    {{list.title}}
                    <img height="20px" width="20px"
                         ng-src="{{list.createdBy.facebook.profilePicture}}"
                         title="{{list.createdBy.facebook.name}}"
                         class="img-circle pull-right">
                    <span ng-click="open(list)" class="pull-right" style="cursor: pointer;">
                       <i class="fa fa-plus"></i> &nbsp;
                     </span>
                </li>
                <li class="list-group-item" ng-repeat="item in list.items"
                    ng-if="item.isApproved == true">
                    <h4 class="list-group-item-heading">
                        <a href="http://{{item.link}}" target="_blank">{{item.name}}</a>
                        <span ng-if="user.isLoggedIn" ng-click="likeList(list._id,item._id)" class="pull-right"
                              style="cursor: pointer;">
                        <i class="fa fa-heart"
                           ng-class="{'red':isExists(item.likes, user.id)}"></i>
                        <span ng-if="item.likes.length != 0">{{item.likes.length}}</span>
                        </span>
                        <img height="20px" width="20px" ng-src="{{item.createdBy.facebook.profilePicture}}"
                             title="{{item.createdBy.facebook.name}}" class="img-circle">
                        <span ng-if="!user.isLoggedIn" class="pull-right">
                        <i class="fa fa-heart"></i> {{item.likes.length}}
                        </span>
                    </h4>
                    <p class="list-group-item-text">{{item.description}}</p>
                </li>
                <li class="list-group-item" ng-hide="list.items.length">Bu liste boş :(</li>
            </ul>
        </div>
    </div>

    <script type="text/ng-template" id="contributionModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Bu listenin gelişmesine katkıda bulunun.</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form ng-submit="createItem()" name="itemForm" ng-if="!completed">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bir uygulama ekleyin"
                           ng-model="modalFormData.name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bir link ekleyin"
                           ng-model="modalFormData.link" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Bir açıklama ekleyin"
                              ng-model="modalFormData.description" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" ng-disabled="itemForm.$invalid">Kaydet
                    </button>
                </div>
            </form>
            <h5 ng-if="completed">
                Desteğiniz için teşekkürler. İsteğiniz onaylandıktan sonra herkese açık bir şekilde görünecektir.
            </h5>
        </div>
    </script>
</div>
